body {
  margin: 0;
  color: $primary-text-color;
  background-color: $primary-background-color;
  font-family: "Roboto", sans-serif;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    min-width: 480px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    min-width: 768px;
  }
  @media screen and (min-width: 1200px) and (max-width: 1920px) {
    min-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
h1,
h2,
h3,
p {
  margin-bottom: 0;
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  color: $title-text-color;
  text-decoration: none;
  cursor: pointer;
  transition: color 250ms $cubic-bezier;
  &:hover,
  &:focus,
  &:active {
    color: $accent-color;
  }
}
// Logo
.logo {
  @extend %font-700-26px;
  color: $logo-color;
  font-family: $font-Raleway;
  font-style: normal;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms $cubic-bezier;

  &:hover,
  &:focus {
    color: $accent-color;
  }
  &-text {
    color: $accent-color;
  }
}
// End of Logo

// Header
.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms $cubic-bezier;
}
.menu-container.is-open {
  transform: translateX(0%);
}
.menu-button {
  position: absolute;
  min-height: 40px;
  min-width: 40px;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 2px;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (max-width: 767px) {
  .site-nav,
  .contact-nav {
    display: none;
  }
}
@media (min-width: 768px) {
  .menu-button,
  .menu-container {
    display: none;
  }
}

.menu-button__close,
.menu-button__menu {
  fill: currentColor;
  transition: color 250ms $cubic-bezier;
}
.menu-button__close:active,
.menu-button__menu:active {
  color: $accent-color;
}

// Меню текст
.menu-box {
  padding: 48px 40px;
  justify-content: space-between;
}
.mobile-socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-menu__item {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  &:first-child {
    padding-top: 0;
  }
}
.mobile-menu__nav {
  display: block;
  font-family: $font-Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $title-text-color;
}
.mobile-menu:nth-child(2) {
  margin-top: 60%;
}
.mobile-menu__tel {
  font-family: $font-Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mobile-menu__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}
.mobile-socials__link {
  margin: 0;
  padding-left: 9px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  font-family: $font-Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  &:last-child {
    border-right: none;
  }
  &:first-child {
    padding-left: 0;
  }
}

//
//
// End of menu
.logo {
  display: inline-flex;
  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    padding: 0;
  }
}

.header-page__con,
.header-page__nav,
.site-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.header-page__con,
.header-page__nav,
.site-nav,
.contact-nav {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
.header-page {
  border-bottom: 1px solid $color-border-bottom;

  .site-nav {
    margin-left: 93px;
    @media (min-width: 768px) and (max-width: 1200px) {
      margin-left: 88px;
    }

    &__link {
      @extend %font-500-14px;
      letter-spacing: 0.02em;

      &--active {
        color: $accent-color;
      }
    }
    &__item {
      margin-right: 50px;
    }
    &__item:last-child {
      margin-right: 0;
    }
  }
}

.site-nav__link,
.contact-nav__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contact-nav {
  margin-left: auto;

  &__link {
    color: $primary-text-color;
    @extend %font-500-14px;
    letter-spacing: 0.02em;
  }
  &__icon {
    margin-right: 10px;
    fill: currentColor;
    @media screen and (max-width: 767px) {
      margin-right: 0;
    }
  }

  &__item {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.site-nav__item {
  position: relative;
}
.site-nav__link--active::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  bottom: -1px;
  background-color: $accent-color;
  border-radius: 2px;
}
.site-nav__link:focus,
.site-nav__link:hover,
.contact-nav__link:hover,
.contact-nav__link:focus {
  color: $accent-color;
}
// End of Header

//
//
// Main
.post {
  padding-bottom: 118px;
  padding-top: 118px;
  max-width: 1600px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $secondary-background-color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/mobile/bg-main.jpg");
  @media screen and (min-width: 768px) {
    //  пусто
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.post__title {
  margin-left: auto;
  margin-right: auto;
  color: $secondary-text-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}
.post__button {
  color: $secondary-text-color;
  background-color: $accent-color;
  margin-bottom: 0;
  font-family: inherit;
  text-align: center;
  align-items: center;
  min-width: 200px;
  padding: 10px 32px;
  @extend %font-700-16px;
  border-radius: 4px;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: $primary-button-color;
    box-shadow: 0px 4px 4px $button-box-shadow;
    border-radius: 4px;
  }
}
// End hero
/* ------ Модальное окно ------ */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $backdrop-color;
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms $cubic-bezier, visibility 250ms $cubic-bezier;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 609px;
  width: 450px;
  @media screen and (min-width: 1200px) {
    height: 581px;
    width: 528px;
  }
  padding: 40px;
  background-color: $primary-background-color;
  box-shadow: 0px 1px 3px $modal-box-shadow;
  border-radius: 4px;
}
/* ------Формы заполнения------ */
.modal__form {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 1200px) {
    width: 448px;
  }
}
.modal__title {
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 1.15;
  }
}
.modal__registry:not(:last-child) {
  margin-bottom: 10px;
}
.form-field {
  display: block;
  position: relative;
}
.modal__text {
  display: block;
  font-family: $font-Roboto;
  font-style: normal;
  @extend %font-400-12px;
  letter-spacing: 0.01em;
  color: $primary-text-color;
  margin-bottom: 4px;
}
.modal__input {
  padding: 0;
  height: 40px;
  width: 100%;
  padding-left: 42px;
  border: 1px solid $modal-border-color;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: border 250ms $cubic-bezier;
}
.modal__icon {
  position: absolute;
  left: 12px;
  top: 28px;
  fill: rgba(33, 33, 33, 1);
  transition: fill 250ms $cubic-bezier;
}
.modal__comments {
  margin-bottom: 20px;
}
.modal__commentary {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid $modal-border-color;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms $cubic-bezier;
  resize: none;
  outline: none;
}
.modal__commentary::placeholder {
  font-family: inherit;
  font-style: normal;
  @extend %font-400-12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field:focus-within > .modal__icon,
.form-field:hover > .modal__icon {
  fill: $accent-color;
}
.form-field:focus-within > .modal__input:focus,
.form-field:focus-within > .modal__commentary:focus,
.form-field > .modal__input:hover,
.form-field > .modal__commentary:hover {
  border: 1px solid $accent-color;
}

.modal__policy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.modal__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal__square-icon {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid $title-text-color;
  border-radius: 2px;
  cursor: pointer;
  transition: transform 250ms $cubic-bezier;
}
.modal__checkbox:checked + .modal__square-icon {
  background-image: url(../img/svg-image/full-check.svg);
  background-size: cover;
  background-color: $accent-color;
  transform: scale(1.2);
  border: none;
}

.modal__agreement {
  display: flex;
  margin-left: 7px;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 24px;
  }
}
.modal__link {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: $accent-color;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 24px;
  }
}
.modal__button {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  font-style: normal;
  @extend %font-700-16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: $modal-button-background-color;
  color: $secondary-text-color;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.modal__button:focus,
.modal__button:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px $button-box-shadow;
}
/* -------Кнопка закрытия------ */
.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid $close-button-color;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 50%;
  background-color: $primary-background-color;
}
.modal__close-icon {
  position: absolute;
  fill: currentColor;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: color 250ms $cubic-bezier;
}
.modal__close-icon:focus,
.modal__close-icon:hover {
  color: $accent-color;
}
/* ---------------------------- */

// Container details
.section__list {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.section__block {
  min-width: 270px;
}
.section__block:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}
.concern {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 450px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: $background-button-color;
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
.concern__icon {
  width: 70px;
  height: 70px;
}
.section__title {
  text-align: center;
  color: $title-text-color;
  @extend %font-700-14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.section__text {
  @extend %font-400-14px;
  letter-spacing: 0.03em;
}
// Container details end
