body {
  margin: 0;
  color: $primary-text-color;
  background-color: $primary-background-color;
  font-family: Roboto, sans-serif;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) and (max-width: 1920px) {
    width: 1200px;
  }
}

.section {
  @media screen and (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
h1,
h2,
h3,
p {
  margin-bottom: 0;
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  color: $title-text-color;
  text-decoration: none;
  cursor: pointer;
  transition: color 250ms $cubic-bezier;
  &:hover,
  &:focus,
  &:active {
    color: $accent-color;
  }
}
// Logo
.logo {
  @extend %font-700-26px;
  color: $logo-color;
  font-family: $font-Raleway;
  font-style: normal;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms $cubic-bezier;

  &:hover,
  &:focus {
    color: $accent-color;
  }
  &-text {
    color: $accent-color;
  }
}
// End of Logo

// Header
.menu-container {
  position: fixed;
  // display: block;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms $cubic-bezier;
}
.menu-container.is-open {
  transform: translateX(0%);
}

.menu-button {
  position: absolute;
  min-height: 40px;
  min-width: 40px;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 2px;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (max-width: 767px) {
  .site-nav,
  .contact-nav {
    display: none;
  }
}
@media (min-width: 768px) {
  .menu-button,
  .menu-container {
    display: none;
  }
}

.menu-button__close,
.menu-button__menu {
  fill: currentColor;
  transition: color 250ms $cubic-bezier;
}
.menu-button__close:active,
.menu-button__menu:active {
  color: $accent-color;
}

// Меню текст
.menu-box {
  padding: 48px 40px;
  justify-content: space-between;
}
.mobile-socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-menu__item {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  &:first-child {
    padding-top: 0;
  }
}
.mobile-menu__nav {
  display: block;
  font-family: $font-Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $title-text-color;
}
.mobile-menu__tel {
  margin-top: 30%;
}
.mobile-menu__tel {
  font-family: $font-Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mobile-menu__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}
.mobile-socials__link {
  margin: 0;
  padding-left: 9px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  font-family: $font-Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  &:last-child {
    border-right: none;
  }
  &:first-child {
    padding-left: 0;
  }
}

//
//
// End of menu
.logo {
  display: inline-flex;
  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    padding: 0;
  }
}

.header-page__con,
.header-page__nav,
.site-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.header-page__con,
.header-page__nav,
.site-nav,
.contact-nav {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
.header-page {
  border-bottom: 1px solid $color-border-bottom;

  .site-nav {
    margin-left: 93px;
    @media (min-width: 768px) and (max-width: 1200px) {
      margin-left: 88px;
    }

    &__link {
      @extend %font-500-14px;
      letter-spacing: 0.02em;

      &--active {
        color: $accent-color;
      }
    }
    &__item {
      margin-right: 50px;
    }
    &__item:last-child {
      margin-right: 0;
    }
  }
}

.site-nav__link,
.contact-nav__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contact-nav {
  margin-left: auto;

  &__link {
    color: $primary-text-color;
    @extend %font-500-14px;
    letter-spacing: 0.02em;
  }
  &__icon {
    margin-right: 10px;
    fill: currentColor;
    @media screen and (max-width: 767px) {
      margin-right: 0;
    }
  }

  &__item {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.site-nav__item {
  position: relative;
}
.site-nav__link--active::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  bottom: -1px;
  background-color: $accent-color;
  border-radius: 2px;
}
.site-nav__link:focus,
.site-nav__link:hover,
.contact-nav__link:hover,
.contact-nav__link:focus {
  color: $accent-color;
}
// End of Header

//////
// .mobile-menu {
//   margin-top: 48px;
//   margin-left: 24px;
// }

// .mobile-menu__nav {
//   display: block;
//   padding: 16px;
//   font-family: $font-Roboto;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 40px;
//   line-height: 1.17;
//   letter-spacing: 0.02em;
//   color: $title-text-color;
// }
// .mobile-menu__tel {
//   margin-top: 30%;
//   display: block;
//   padding: 16px;
// }
// .mobile-menu__link--active {
//   font-family: $font-Roboto;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 34px;
//   line-height: 1.17;
//   letter-spacing: 0.02em;
//   color: #2196f3;
// }
// .mobile-menu__mail {
//   padding: 16px;
//   margin-bottom: 32px;
// }
// .mobile-menu__mail--link {
//   font-weight: 500;
//   font-size: 24px;
//   line-height: 1.16;
//   letter-spacing: 0.02em;
//   color: #757575;
// }
// .mobile-socials {
//   display: block;
//   margin-left: 25px;
//   margin-top: 64px;
// }
// .mobile-socials__link {
//   align-items: center;
//   flex-wrap: nowrap;
//   padding-left: 10px;
//   padding-right: 9px;
//   border-right: 1px solid rgba(33, 33, 33, 0.2);
//   font-family: $font-Roboto;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 18px;
//   line-height: 1.22;
//   letter-spacing: 0.02em;
//   color: #2196f3;
//   &:last-child {
//     border-right: none;
//   }
// }
