.hero {
  background-color: $background-hero-color;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/hero-img480.jpg");
  @media screen and (min-device-pixel-ratio: 1.5),
    screen and (min-resolution: 144dpi),
    screen and (min-resolution: 1.5dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-img480-@2x.jpg");
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-img768.jpg");
    @media screen and (min-device-pixel-ratio: 1.5),
      screen and (min-resolution: 144dpi),
      screen and (min-resolution: 1.5dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/hero-img768-@2x.jpg");
    }
  }
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-img1600.jpg");
    background-size: 1600px 600px;
    @media screen and (min-device-pixel-ratio: 1.5),
      screen and (min-resolution: 144dpi),
      screen and (min-resolution: 1.5dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/hero-img1600-@2x.jpg");
    }
  }
}
.hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  color: $secondary-text-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

// @media screen and (min-device-pixel-ratio: 1.5),
//   screen and (min-resolution: 144dpi),
//   screen and (min-resolution: 1.5dppx) {
//   background-image: linear-gradient(
//       to right,
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url("../images/mobile/bg-main@2x.jpg");
// }
// @media screen and (min-width: 768px) {
//   background-image: linear-gradient(
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url("../images/tablet/bg-main.jpg");
//   @media screen and (min-device-pixel-ratio: 1.5),
//     screen and (min-resolution: 144dpi),
//     screen and (min-resolution: 1.5dppx) {
//     background-image: linear-gradient(
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url("../images/tablet/bg-main@2x.jpg");
//   }
// }
// @media screen and (min-width: 1200px) {
//   display: flex;
//   min-height: 600px;
//   max-width: 1600px;
//   background-color: $secondary-background-color;
//   margin-right: auto;
//   margin-left: auto;
//   align-items: center;
//   justify-content: center;
//   text-align: center;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-image: linear-gradient(
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url("../images/desktop/bg-main.jpg");
//   background-size: 1600px 600px;
//   @media screen and (min-device-pixel-ratio: 1.5),
//     screen and (min-resolution: 144dpi),
//     screen and (min-resolution: 1.5dppx) {
//     background-image: linear-gradient(
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url("../images/desktop/bg-main@2x.jpg");
//   }
// }

второй контейнер .customers {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 0;
  background-color: $background-hat-color;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.customers__title {
  color: $title-text-color;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.customers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -30px;
}
.customers__item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - #{60px}) / 2);
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - #{90px}) / 3);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - #{180px}) / 6);
    margin-bottom: 0;
  }
}
.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid $icon-color;
  box-sizing: border-box;
  border-radius: 4px;
  fill: $icon-color;
  @include transition2(fill, border-color);
  &:hover,
  &:focus {
    fill: $accent-color;
    border-color: $accent-color;
  }
}

// БУРГЕЕЕРРРРР
.menu-button {
  position: absolute;
  min-height: 40px;
  min-width: 40px;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 2px;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  @media (max-width: 767px) {
    .navigation,
    .contacts__list {
      display: none;
    }
  }
  @media (min-width: 768px) {
    display: none;
  }
}
// сработало, чтобы  бургер скрыть

// Навигация
.contacts__list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}
.contacts__item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.contacts__link {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: $primary-text-color;
    @include transition1(color);
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
    padding: 32px 0;
  }
}
