// Footer
// Первый блок
.footer-page {
  display: block;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $secondary-background-color;
}
.footer-page__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.footer-page__cutaway {
  width: 231px;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
    margin-bottom: 0;
    align-items: flex-start;
  }
}
.footer-page__logo {
  display: inline-flex;
  padding: 0;
  margin-bottom: 20px;
  color: $secondary-text-color;
}

.footer-page__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-page__link {
  color: $secondary-address-color;
  font-style: normal;
  @extend %font-400-14px;
  letter-spacing: 0.03em;
}
.footer-page__adds {
  color: $secondary-text-color;
  font-family: $font-Roboto;
  font-style: normal;
  @extend %font-400-14px;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms $cubic-bezier;
}
.footer-page__adds:focus,
.footer-page__adds:hover,
.footer-page__link:focus,
.footer-page__link:hover {
  color: $accent-color;
}
// Второй блок
.footer-conection {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  // width: 206px;
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}
.footer-conection__title {
  color: $secondary-text-color;
  font-style: normal;
  @extend %font-700-14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.footer-conection__social {
  display: flex;
}
.footer-conection__item {
  margin: 0;
}
.footer-conection__item:not(:last-child) {
  margin-right: 10px;
}
.footer-conection__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: $secondary-text-color;
  background: $footer-background-link;
  transition: background-color 250ms $cubic-bezier;
}
.footer-conection__link:hover,
.footer-conection__link:focus {
  background-color: $accent-color;
}
// Третий блок

.footer-container {
  width: 100%;
  @media screen and (min-width: 1200px) {
    width: 570px;
    margin-left: auto;
  }
}
.subscribe-form__title {
  color: $secondary-text-color;
  font-style: normal;
  @extend %font-700-14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.subscribe-form__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }
}

.subscribe-form__input {
  width: 100%;
  max-width: 450px;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 50px;
  border: 1px solid $subscribe-border-color;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px $subscribe-filter-shadow);
  border-radius: 4px;
  background-color: $subscribe-background-color;
  color: $secondary-text-color;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0;
  }
}
.subscribe-form__button {
  display: flex;
  color: $secondary-text-color;
  background-color: $accent-color;
  font-style: normal;
  font-family: inherit;
  text-align: center;
  align-items: center;
  width: 200px;
  padding: 10px 28px;
  @extend %font-700-16px;
  border-radius: 4px;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-left: 12px;
  }
}
//
.subscribe-form__button:focus,
.subscribe-form__button:hover {
  background-color: $primary-button-color;
  box-shadow: 0px 4px 4px $button-box-shadow;
  border-radius: 4px;
}
//
.subscribe-form__icon {
  margin-left: 10px;
}
