// Portfolio
.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
  font-family: inherit;
  margin-bottom: 40px;
  margin-left: -8px;
  margin-top: -15px;
  &__buttons {
    background-color: $background-button-color;
    border-radius: 4px;
    @media screen and (min-width: 1200px) {
      &:not(:first-child) {
        margin-left: 8px;
      }
    }
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    margin-top: 0;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}
.filter__buttons {
  margin-left: 8px;
  margin-top: 15px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}
.filter__button {
  @extend %font-500-16px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  color: $title-text-color;
  cursor: pointer;
  border: none;
  transition: background-color 250ms $cubic-bezier,
    box-shadow 250ms $cubic-bezier, color 250ms $cubic-bezier;
  &--current {
    background-color: $accent-color;
    color: $secondary-text-color;
    box-shadow: 0px 3px 1px $button-shadow;
    border-radius: 4px;
  }
  &:focus,
  &:hover,
  &:active {
    background-color: $accent-color;
    box-shadow: 0px 3px 1px $button-shadow;
    border-radius: 4px;
  }
  &:focus,
  &:hover {
    color: $secondary-text-color;
  }
}
/* --------- Карточки --------- */
.content {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.content__item {
  @media screen and (min-width: 768px) {
    margin-left: 30px;
    flex-basis: calc((100% - #{60px}) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - #{90px}) / 3);
  }
}
.content__item:not(:last-child) {
  margin-bottom: 30px;
}
.content__link {
  display: flex;
  flex-direction: column;

  height: 100%;
  transition: box-shadow 250ms $cubic-bezier;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px $content-link-shadow;
  }
}
.content__link:hover .product-thumb__text,
.content__link:focus .product-thumb__text {
  transform: translateY(0%);
  opacity: 1;
}
.product-thumb {
  position: relative;
  overflow: hidden;

  &__text {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 77px 24px;
    @extend %font-400-18px;
    letter-spacing: 0.03em;
    margin: 0;
    @media screen and (min-width: 768px) {
      padding: 49px 24px;
    }
    @media screen and (min-width: 1200px) {
      padding: 63px 24px;
    }
    color: $secondary-text-color;
    background-color: $thumb-background-color;
    transform: translateY(100%);
    transition: transform 250ms linear, opacity 250ms linear;
    opacity: 0;
  }
}

.content__title {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 24px;
  border-right: 1px solid $thumb-border-color;
  border-bottom: 1px solid $thumb-border-color;
  border-left: 1px solid $thumb-border-color;
  @media screen and (min-width: 768px) {
    padding: 20px 24px 56px;
  }
  @media screen and (min-width: 1200px) {
    padding: 20px 24px;
  }
}
.product-thumb__image {
  width: 100vw;
}
.content__name {
  color: $title-text-color;
  @extend %font-700-18px;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.content__text {
  @extend %font-400-16px;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}
