%font-900-44px {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}
%font-700-36px {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
%font-700-26px {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
%font-700-20px {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
}
%font-700-18px {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
%font-700-16px {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}
%font-700-14px {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
%font-500-16px {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
%font-500-16px {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
%font-500-14px {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
%font-400-18px {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}
%font-400-16px {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
%font-400-16px {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}
%font-400-14px {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
%font-400-12px {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
}
